
*.dll
*.json
*.props
*.targets
*.cache
*.pdb
obj/Debug/net6.0/kspma.GlobalUsings.g.cs
obj/Debug/net6.0/kspma.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/kspma.csproj.CopyComplete
obj/Debug/net6.0/kspma.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/kspma.AssemblyInfo.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
bin/Debug/net6.0/publish/kspma.exe
bin/Debug/net6.0/kspma.exe
obj/Debug/net6.0/kspma.csproj.FileListAbsolute.txt
obj/Debug/net6.0/PublishOutputs.5a14319d1c.txt
